*{
    margin: 0;
    padding: 0;
    font-family: 'louis George', helvetica ,sans-serif ;
    font-weight: 400;
    box-sizing: border-box;
}

@font-face {
    font-family: 'edenson';
   src: url(./fontes/edensor/Edensor-FREE.otf);
} 

@font-face {
    font-family: 'louis George';
    src: url(./fontes/louis_george_cafe/Louis\ George\ Cafe.ttf);
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #c2d0c5;
    width: 100%;
    height: 10vh;
    padding: 0px 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
ul{
    margin: 0;
}
ul li{
    display: inline; 
}

ul li a{
    text-decoration: none;
    padding: 0px 10px;
    color: #000;
}

.cart-btn button{
    padding: 5px;
    margin: 0px 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.cart-btn button:hover{
    background-color: #c3c3c3;
}
.login-btn button a{
    text-decoration: none;
    font-weight: 500;
}

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

@media (max-width:730px) {
    
    .mobile-menu{
        background-color: #e8dfd4;
    }

    .nav-item, .login-btn{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul, .mobile-menu .login-btn{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .login-btn{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .open{
        display: block;
        
        width: 100%;
    }

    .icon{
        height: 24px;
    }
}


h1, h2{
    font-weight: 400;
}

